Source: ros-kinetic-raspigibbon-sim
Section: misc
Priority: extra
Maintainer: RT Corporation <shop@rt-net.jp>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://github.com/rt-net/RaspberryPiGibbon/wiki
Standards-Version: 3.9.2

Package: ros-kinetic-raspigibbon-sim
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-raspigibbon-control, ros-kinetic-raspigibbon-gazebo, ros-kinetic-raspigibbon-ros
Description: The raspigibbon_sim package
